attrs @ file:///croot/attrs_1668696182826/work
exceptiongroup @ file:///croot/exceptiongroup_1668714342571/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
packaging @ file:///croot/packaging_1678965309396/work
pluggy @ file:///tmp/build/80754af9/pluggy_1648024709248/work
pytest @ file:///croot/pytest_1684171585955/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
